[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
alembic = "*"
asn1crypto = "*"
bcrypt = "*"
click = "*"
cryptography = "*"
dominate = "*"
elasticsearch = {version = ">=7.0,<8.0"}
html5lib = "*"
httplib2 = "*"
idna = "*"
itsdangerous = "*"
olefile = "*"
paramiko = "*"
pyasn1 = "*"
pycparser = "*"
python-dateutil = "*"
python-dotenv = "*"
python-editor = "*"
pytz = "*"
six = "*"
tzlocal = "*"
urllib3 = "*"
virtualenv = "*"
visitor = "*"
webencodings = "*"
xhtml2pdf = "*"
APScheduler = "*"
Flask = "*"
Flask-APScheduler = "*"
Flask-Bootstrap = "*"
Flask-Login = "*"
Flask-Migrate = "*"
Flask-Script = "*"
Flask-SQLAlchemy = "*"
Jinja2 = "*"
Mako = "*"
MarkupSafe = "*"
PyNaCl = "*"
PyPDF2 = "*"
SQLAlchemy = "*"
Werkzeug = "*"
psycopg2-binary = "*"
flask-mail = "*"
reportlab = "==3.6.6"
requests = "*"
holidays = "*"
flask-wtf = "*"
xlsxwriter = "*"
email-validator = "*"

[requires]
python_version = "3.9.2"
