<html>
<head>
    <style type="text/css">
        p {
            font-size: 14px !important;
            line-height: 14px !important;
        }
        b {
        	font-size: 16px !important;
        }

        h1 {
            font-size: 24px;
        }
    </style>
</head>
<body>
<p>
{{ order_info['customer']['billing_name'] }}<br/>
Address: {{ order_info['customer']['address'] }}
</p>
<h1>{{ order_info['order_type'] }}</h1>

{% if order_info['order']['multiple_items'] %}
    <p>
    <b>This item was ordered with multiple items in the cart: </b>
    {{ ', '.join(order_info['order']['order_types']) }}
    </p>
{% endif %}

{% include 'orders/customer_info.html' %}

{% block content %}

{% endblock %}
</body>

<pdf:nextpage/>