{% extends "orders/base.html" %}

{% block content %}
<b>CERTIFICATE_NUMBER: {{ order_info["certificate_no"] }}</b>

<b>GENDER: {{ order_info["gender_type"] }}</b>

<b>LAST_NAME: {{ order_info["last_name"] }}</b>

<b>MIDDLE_NAME: {{ order_info["mid_name"] }}</b>

<b>FIRST_NAME: {{ order_info["first_name"] }}</b>

<b>FATHER_NAME: {{ order_info["father_name"] }} </b>

<b>MOTHER_NAME: {{ order_info["mother_name"] }} </b>

<b>RELATIONSHIP: {{ order_info["relationship"] }}</b>

<b>PURPOSE: {{ order_info["purpose"] }}</b>

<b>ADDITIONAL_COPY: {{ order_info["additional_copy"] }}</b>

<b>MONTH: {{ order_info["month"] }}</b>

<b>DAY: {{ order_info["day"] }}</b>

<b>BIRTH_PLACE: {{ order_info["birth_place"] }}</b>

<b>YEARS: {{ order_info["years"] }} </b>

<b>BOROUGH: {{ order_info["borough"] }}</b>

<b>LETTER: {{ order_info["letter"] }}</b>

<b>COMMENT: {{ order_info["comment"] }}</b>

{% endblock %}



