{% extends "orders/base.html" %}

{% block content %}
    <br/>
    <p>
        <b>GENDER:</b> <br/>
        {{ order_info["gender"] or "" }}
    </p>

    <p>
        <b>LAST NAME:</b> <br/>
        {{ order_info["last_name"] }}
    </p>

    <p>
        <b>MIDDLE NAME:</b> <br/>
        {{ order_info["middle_name"] or "" }}
    </p>

    <p>
        <b>FIRST NAME:</b> <br/>
        {{ order_info["first_name"] or "" }}
    </p>

    <p>
        <b>FATHER NAME:</b> <br/>
        {{ order_info["father_name"] or "" }}
    </p>

    <p>
        <b>MOTHER NAME:</b> <br/>
        {{ order_info["mother_name"] or "" }}
    </p>

    <p>
        <b>NUMBER OF COPIES:</b> <br/>
        {{ order_info["num_copies"] }}
    </p>

    <p>
        <b>MONTH:</b> <br/>
        {{ order_info["month"] or "" }}
    </p>

    <p>
        <b>DAY:</b> <br/>
        {{ order_info["day"]or "" }}
    </p>

    <p>
        <b>BIRTH PLACE:</b> <br/>
        {{ order_info["birth_place"] or "" }}
    </p>

    <p>
        <b>YEARS:</b> <br/>
        {{ order_info["years"] }}
    </p>

    <p>
        <b>BOROUGH:</b> <br/>
        {{ order_info["borough"] }}
    </p>

    <p>
        <b>LETTER:</b> <br/>
        {{ "Yes" if order_info["letter"] else "No" }}
    </p>

    {% if order_info["comment"] %}
        <p>
            <b>COMMENT:</b> <br/>
            {{ order_info["comment"] }}
        </p>
    {% endif %}

{% endblock %}



