{% extends "orders/base.html" %}

{% block content %}
    <br/>
    <p>
        <b>CERTIFICATE NUMBER:</b> <br/>
        {{ order_info["certificate_no"] or ""}}
    </p>

    <p>
        <b>GENDER:</b> <br/>
        {{ order_info["gender_type"] or ""}}
    </p>

    <p>
        <b>LAST NAME:</b> <br/>
        {{ order_info["last_name"] or ""}}
    </p>

    <p>
        <b>MIDDLE NAME:</b> <br/>
        {{ order_info["mid_name"] or ""}}
    </p>

    <p>
        <b>FIRST NAME:</b> <br/>
        {{ order_info["first_name"] or ""}}
    </p>

    <p>
        <b>FATHER NAME:</b> <br/>
        {{ order_info["father_name"] or ""}} 
    </p>

    <p>
        <b>MOTHER NAME:</b> <br/>
        {{ order_info["mother_name"] or ""}} 
    </p>

    <p>
        <b>NUMBER OF COPIES:</b> <br/>
        {{ order_info["num_copies"] or "" }}
    </p>

    <p>
        <b>MONTH:</b> <br/>
        {{ order_info["month"] or ""}}
    </p>

    <p>
        <b>DAY:</b> <br/>
        {{ order_info["day"] or ""}}
    </p>

    <p>
        <b>BIRTH PLACE:</b> <br/>
        {{ order_info["birth_place"] or ""}}
    </p>

    <p>
        <b>YEARS:</b> <br/>
        {{ order_info["years"] or ""}} 
    </p>

    <p>
        <b>BOROUGH:</b> <br/>
        {{ order_info["borough"] or ""}}
    </p>

    <p>
        <b>LETTER:</b> <br/>
        {{ "Yes" if order_info["letter"] else "No" }}
    </p>

    <p>
        <b>COMMENT:</b> <br/>
        {{ order_info["comment"] }}
    </p>

{% endblock %}



