<b>Customer Name: {{ order_info['customer']['billing_name'] }}</b>
<br/>
<b>Order Number: {{ order_info['customer']['order_number'] }}</b>
<br/>
<b>Order Time: {{ order_info['order']['date_submitted'] }}</b>
<br/>
<b>Phone: {{ order_info['customer']['phone'] }}</b>
<br/>
<b>Email: {{ order_info['customer']['email'] }}</b>
<br/>
<b>Suborder Number: {{ order_info['suborder_number'] }}</b>
<br/>