{% extends 'orders/base.html' %}

{% block content %}
    <p>
        <b>LAST NAME:</b> <br/>
        {{ order_info['metadata']['last_name'] }}
    </p>

    <p>
        <b>MIDDLE NAME:</b> <br/>
        {{ order_info['metadata']['middle_name'] or '' }}
    </p>

    <p>
        <b>FIRST NAME:</b> <br/>
        {{ order_info['metadata']['first_name'] or '' }}
    </p>

    <p>
        <b>NUMBER OF COPIES:</b> <br/>
        {{ order_info['metadata']['num_copies'] }}
    </p>

    <p>
        <b>CEMETERY:</b> <br/>
        {{ order_info['metadata']['cemetery'] or '' }}
    </p>

    <p>
        <b>MONTH:</b> <br/>
        {{ order_info['metadata']['month'] or '' }}
    </p>

    <p>
        <b>DAY:</b> <br/>
        {{ order_info['metadata']['day'] or '' }}
    </p>

    <p>
        <b>YEARS:</b> <br/>
        {{ order_info['metadata']['years'] }}
    </p>

    <p>
        <b>DEATH PLACE:</b> <br/>
        {{ order_info['metadata']['death_place'] or '' }}
    </p>

    <p>
        <b>BOROUGH:</b> <br/>
        {{ order_info['metadata']['borough'] }}
    </p>

    <p>
        <b>LETTER:</b> <br/>
        {{ "Yes" if order_info['metadata']['letter'] else "No" }}
    </p>

    {% if order_info['metadata']['comment'] %}
        <p>
            <b>COMMENT:</b> <br/>
            {{ order_info['metadata']['comment'] }}
        </p>
    {% endif %}
{% endblock %}


