{% extends 'orders/base.html' %}

{% block content %}
    <br/>
    <p>
        <b>Link:</b> <br/>
        <a href="{{ order_info['metadata']['link'] }}">{{ order_info['metadata']['link'] }}</a>
    </p>

    <p>
        <b>Record ID:</b> <br/>
        {{ order_info['metadata']['record_id'] }}
    </p>

    <p>
        <b>Type:</b> <br/>
        {{ order_info['metadata']['type'] }}
    </p>

    <p>
        <b>Number of Copies:</b> <br/>
        {{ order_info['metadata']['num_copies'] }}
    </p>

    <p>
        <b>Exemplification:</b> <br/>
        {{ order_info['metadata']['exemplification'] }}
    </p>

    <p>
        <b>Exemplification Copies:</b> <br/>
        {{ order_info['metadata']['exemplification_copies'] }}
    </p>

    <p>
        <b>Raised Seal:</b> <br/>
        {{ order_info['metadata']['raised_seal'] }}
    </p>

    <p>
        <b>Raised Seal:</b> <br/>
        {{ order_info['metadata']['raised_seal_copies'] }}
    </p>

    <p>
        <b>No Amends:</b> <br/>
        {{ order_info['metadata']['no_amends'] }}
    </p>

    <p>
        <b>No Amends Copies:</b> <br/>
        {{ order_info['metadata']['no_amends_copies'] }}
    </p>

    <p>
        <b>Delivery Method:</b> <br/>
        {{ order_info['metadata']['delivery_method'] }}
    </p>

{% endblock %}



