{% extends 'orders/base.html' %}

{% block content %}
    <br/>
    <p>
        <b>CERTIFICATE NUMBER:</b> <br/>
        {{ order_info['metadata']['certificate_number'] }}
    </p>

    <p>
        <b>GROOM LAST NAME:</b> <br/>
        {{ order_info['metadata']['groom_last_name'] }}
    </p>

    <p>
        <b>GROOM FIRST NAME:</b> <br/>
        {{ order_info['metadata']['groom_first_name'] or '' }}
    </p>

    <p>
        <b>GROOM MIDDLE NAME:</b> <br/>
        {{ order_info['metadata']['groom_middle_name'] or '' }}
    </p>

    <p>
        <b>BRIDE LAST NAME:</b> <br/>
        {{ order_info['metadata']['bride_last_name'] }}
    </p>

    <p>
        <b>BRIDE FIRST NAME:</b> <br/>
        {{ order_info['metadata']['bride_first_name'] or '' }}
    </p>

    <p>
        <b>BRIDE MIDDLE NAME:</b> <br/>
        {{ order_info['metadata']['bride_middle_name'] or '' }}
    </p>

    <p>
        <b>ALT GROOM LAST NAME:</b> <br/>
        {{ order_info['metadata']['alt_groom_last_name'] or '' }}
    </p>

    <p>
        <b>ALT GROOM FIRST NAME:</b> <br/>
        {{ order_info['metadata']['alt_groom_first_name'] or '' }}
    </p>

    <p>
        <b>ALT GROOM MIDDLE NAME:</b> <br/>
        {{ order_info['metadata']['alt_groom_middle_name'] or '' }}
    </p>

    <p>
        <b>ALT BRIDE LAST NAME:</b> <br/>
        {{ order_info['metadata']['alt_bride_last_name'] or '' }}
    </p>

    <p>
        <b>ALT BRIDE FIRST NAME:</b> <br/>
        {{ order_info['metadata']['alt_bride_first_name'] or '' }}
    </p>

    <p>
        <b>ALT BRIDE MIDDLE NAME:</b> <br/>
        {{ order_info['metadata']['alt_bride_middle_name'] or '' }}
    </p>

    <p>
        <b>MONTH:</b> <br/>
        {{ order_info['metadata']['month'] or '' }}
    </p>

    <p>
        <b>DAY:</b> <br/>
        {{ order_info['metadata']['day'] or '' }}
    </p>

    <p>
        <b>YEARS:</b> <br/>
        {{ order_info['metadata']['years'] }}
    </p>

    <p>
        <b>MARRIAGE PLACE:</b> <br/>
        {{ order_info['metadata']['marriage_place'] or '' }}
    </p>

    <p>
        <b>BOROUGH:</b> <br/>
        {{ order_info['metadata']['borough'] }}
    </p>

    <p>
        <b>NUMBER OF COPIES:</b> <br/>
        {{ order_info['metadata']['num_copies'] }}
    </p>

    <p>
        <b>EXEMPLIFICATION:</b> <br/>
        {{ "Yes" if order_info['metadata']['exemplification'] else "No" }}
    </p>

    {% if order_info['metadata']['exemplification'] %}
        <p>
            <b>EXEMPLIFICATION COPIES:</b> <br/>
            {{ order_info['metadata']['exemplification_copies'] }}
        </p>
    {% endif %}

    <p>
        <b>RAISED SEAL:</b> <br/>
        {{ "Yes" if order_info['metadata']['raised_seal'] else "No" }}
    </p>

    {% if order_info['metadata']['raised_seal'] %}
        <p>
            <b>RAISED SEAL COPIES:</b> <br/>
            {{ order_info['metadata']['raised_seal_copies'] }}
        </p>
    {% endif %}

    <p>
        <b>NO AMENDS:</b> <br/>
        {{ "Yes" if order_info['metadata']['no_amends'] else "No" }}
    </p>

    {% if order_info['metadata']['no_amends'] %}
        <p>
            <b>NO AMENDS COPIES:</b> <br/>
            {{ order_info['metadata']['no_amends_copies'] }}
        </p>
    {% endif %}

    <p>
        <b>DELIVERY METHOD:</b> <br/>
        {{ order_info['metadata']['delivery_method'].title() }}
    </p>
{% endblock %}


