{% extends "orders/base.html" %}

{% block content %}
    <br/>
    <p>
        <b>LAST NAME - GROOM:</b>
    <br />
    {{ order_info["groom_last_name"] }}
</p>
    <br/>
    <p>
        <b>FIRST NAME - GROOM:</b>
    <br />
    {{ order_info["groom_first_name"] }}
</p>
    <br/>
    <p>
        <b>LAST NAME - BRIDE:</b>
    <br />
    {{ order_info["bride_last_name"] }}
</p>
    <br/>
    <p>
        <b>FIRST NAME - BRIDE:</b>
    <br />
    {{ order_info["bride_first_name"] }}
</p>
    <br/>
    <p>
        <b>RELATIONSHIP:</b>
    <br />
    {{ order_info["relationship"] or "Not Provided" }}
</p>
    <br/>
    <p>
        <b>PURPOSE:</b>
    <br />
    {{ order_info["purpose"] }}
</p>
    <br/>
    <p>
        <b>NUMBER OF COPIES:</b>
    <br />
    {{ order_info["num_copies"] }}
</p>
    <br/>
    <p>
        <b>MONTH:</b>
    <br />
    {{ order_info["month"] }}
</p>
    <br/>
    <p>
        <b>DAY:</b>
    <br />
    {{ order_info["day"] }}
</p>
    <br/>
    <p>
        <b>YEARS:</b>
    <br />
    {{ order_info["years"] }}
</p>
    <br/>
    <p>
        <b>MARRIAGE_PLACE:</b>
    <br />
    {{ order_info["marriage_place"] or "Not Provided"}}
</p>
    <br/>
    <p>
        <b>BOROUGH:</b>
    <br />
    {{ order_info["borough"] }}
</p>
    <br/>
    <p>
        <b>LETTER:</b>
    <br />
    {{ order_info["letter"] or "N/A" }}
</p>
    <br/>
    <p>
        <b>COMMENT:</b>
    <br />
    {{ order_info["comment"] or "N/A" }}
</p>
{% endblock %}
