{% extends "orders/base.html" %}

{% block content %}
    <br/>
    <p>
        <b>LAST NAME - GROOM:</b> <br/>
        {{ order_info["groom_last_name"] }}
    </p>

    <p>
        <b>FIRST NAME - GROOM:</b> <br/>
        {{ order_info["groom_first_name"] }}
    </p>

    <p>
        <b>LAST NAME - BRIDE:</b> <br/>
        {{ order_info["bride_last_name"] }}
    </p>

    <p>
        <b>FIRST NAME - BRIDE:</b> <br/>
        {{ order_info["bride_first_name"] }}
    </p>

    <p>
        <b>NUMBER OF COPIES:</b> <br/>
        {{ order_info["num_copies"] }}
    </p>

    <p>
        <b>MONTH:</b> <br/>
        {{ order_info["month"] }}
    </p>

    <p>
        <b>DAY:</b> <br/>
        {{ order_info["day"] }}
    </p>

    <p>
        <b>YEARS:</b> <br/>
        {{ order_info["years"] }}
    </p>

    <p>
        <b>MARRIAGE PLACE:</b> <br/>
        {{ order_info["marriage_place"] or "" }}
    </p>

    <p>
        <b>BOROUGH:</b> <br/>
        {{ order_info["borough"] }}
    </p>

    <p>
        <b>LETTER:</b> <br/>
        {{ "Yes" if order_info["letter"] else "No" }}
    </p>

    {% if order_info["comment"] %}
        <p>
            <b>COMMENT:</b> <br/>
            {{ order_info["comment"] }}
        </p>
    {% endif %}
{% endblock %}


