{% extends "orders/base.html" %}

{% block content %}

    <b>CERTIFICATE_NUMBER: {{ order_info["certificate_no"] }} </b>

    <b>LAST_NAME_GROOM: {{ order_info["groom_last_name"] }}</b>

    <b>FIRST_NAME_GROOM: {{ order_info["groom_first_name"] }}</b>

    <b>LAST_NAME_BRIDE: {{ order_info["bride_last_name"] }}</b>

    <b>FIRST_NAME_BRIDE: {{ order_info["bride_first_name"] }}</b>

    <b>RELATIONSHIP: {{ order_info["relationship"] }}</b>

    <b>PURPOSE: {{ order_info["purpose"] }}</b>

    <b>COPY_REQ: {{ order_info["copy_req"] }}</b>

    <b>MONTH: {{ order_info["month"] }}</b>

    <b>DAY: {{ order_info["day"] }} </b>

    <b>YEARS: {{ order_info["year"] }} </b>

    <b>MARRIAGE_PLACE: {{ order_info["marriage_place"] }}</b>

    <b>BOROUGH: {{ order_info["borough"] }}</b>

    <b>LETTER: {{ order_info["letter"] }}</b>

    <b>COMMENT: {{ order_info["comment"] }}</b>

{% endblock %}


