{% extends "orders/base.html" %}

{% block content %}
    <br/>
    <b>LAST NAME - GROOM:</b>
    <br />
    {{ order_info["groom_last_name"] }}

    <br/>
    <b>FIRST NAME - GROOM:</b>
    <br />
    {{ order_info["groom_first_name"] }}

    <br/>
    <b>LAST NAME - BRIDE:</b>
    <br />
    {{ order_info["bride_last_name"] }}

    <br/>
    <b>FIRST NAME - BRIDE:</b>
    <br />
    {{ order_info["bride_first_name"] }}

    <br/>
    <b>RELATIONSHIP:</b>
    <br />
    {{ order_info["relationship"] }}

    <br/>
    <b>PURPOSE:</b>
    <br />
    {{ order_info["purpose"] }}

    <br/>
    <b>COPY_REQ:</b>
    <br />
    {{ order_info["copy_req"] }}

    <br/>
    <b>MONTH:</b>
    <br />
    {{ order_info["month"] }}

    <br/>
    <b>DAY:</b>
    <br />
    {{ order_info["day"] }}

    <br/>
    <b>YEARS:</b>
    <br />
    {{ order_info["years"] }}

    <br/>
    <b>MARRIAGE_PLACE:</b>
    <br />
    {{ order_info["marriage_place"] }}

    <br/>
    <b>BOROUGH:</b>
    <br />
    {{ order_info["borough"] }}

    <br/>
    <b>LETTER:</b>
    <br />
    {{ order_info["letter"] }}

    <br/>
    <b>COMMENT:</b>
    <br />
    {{ order_info["comment"] }}

{% endblock %}
