{% extends "orders/base.html" %}

{% block content %}
    <br/>
    <b>IMAGE_IDENTIFIER:</b>
    <br/>
    {{ order_info['image_id'] or "Not Provided" }}
    <br/>
    <b>DESCRIPTION:</b>
    <br/>
    {{ order_info['description'] or "Not Provided" }}
    <br/>
    <b>ADDITIONAL_DESCRIPTION:</b>
    <br/>
    {{ order_info['additional_description'] or "Not Provided" }}
    <br/>
    <b>SIZE:</b>
    <br/>

    {{ order_info['size'] or "Not Provided" }}
    <br/>
    <b>COPY:</b>
    <br/>
    {{ order_info['num_copies'] or "Not Provided" }}
    <br/>
    <b>MAIL_PICKUP:</b>
    <br/>
    {{ "Mail" if order_info['image_id'] else "Pickup" }}
    <br/>
    <b>CONTACT_NUMBER:</b>
    <br/>
    {{ order_info['contact_number'] or "Not Provided" }}
    <br/>
    <b>PERSONAL_USE_AGREEMENT:</b>
    <br/>
    {{ order_info['personal_use_agreement'] or "Not Provided" }}
    <br/>
    <b>COMMENT:</b>
    <br/>
    {{ order_info['comment'] }}
{% endblock %}
