{% extends "orders/base.html" %}

{% block content %}
    <br/>
    <p>
        <b>IMAGE_IDENTIFIER:</b>
        <br/>
        {{ order_info['image_id'] }}
        <br/>
    </p>

    <p>
        <b>DESCRIPTION:</b>
        <br/>
        {{ order_info['description'] or "Not Provided" }}
        <br/>
    </p>

    <p>
        <b>ADDITIONAL DESCRIPTION:</b>
        <br/>
        {{ order_info['additional_description'] or "Not Provided" }}
        <br/>
    </p>

    <p>
        <b>SIZE:</b>
        <br/>
        {{ order_info['size'] }}
        <br/>
    </p>

    <p>
        <b>NUMBER OF COPIES:</b>
        <br/>
        {{ order_info['num_copies'] }}
        <br/>
    </p>

    <p>
        <b>MAIL_PICKUP:</b>
        <br/>
        {{ "Mail" if order_info['mail'] else "Pickup" }}
    </p>

    {% if order_info['contact_number'] %}
        <p>
            <b>CONTACT NUMBER:</b>
            <br/>
            {{ order_info['contact_number'] }}
            <br/>
        </p>
    {% endif %}

    <p>
        <b>PERSONAL_USE_AGREEMENT:</b>
        <br/>
        {{ order_info['personal_use_agreement'] or "Not Provided" }}
        <br/>
    </p>

    {% if order_info["comment"] %}
        <p>
            <b>COMMENT:</b>
            <br/>
            {{ order_info['comment'] }}
        </p>
    {% endif %}
{% endblock %}
