{% extends "orders/base.html" %}

{% block content %}
    <p>
        <b>BOROUGH: </b><br/>
        {{ order_info['borough'] or "Not Provided" }}
        <br/>
    </p>
    <p>
        <b>BLOCK: </b><br/>
        {{ order_info['block'] or "Not Provided" }}
        <br/>
    </p>
    <p>
        <b>LOT: </b><br/>
        {{ order_info['lot'] or "Not Provided" }}
        <br/>
    </p>
    <p>
        <b>BUILDING_NUMBER: </b><br/>
        {{ order_info['building_number'] or "Not Provided" }}
        <br/>
    </p>
    <p>
        <b>STREET: </b><br/>
        {{ order_info['street'] or "Not Provided" }}
        <br/>
    </p>
    <p>
        <b>DESCRIPTION: </b><br/>
        {{ order_info['description'] or "Not Provided" }}
        <br/>
    </p>

    <p>
        <b>CERTIFIED: </b><br/>
        {{ "Certified" if order_info['mail_pickup'] else "Not Certified" }}
        <br/>
    </p>
    <p>

    <p>
        <b>MAIL_PICKUP: </b><br/>
        {{ "Mail" if order_info['mail_pickup'] else "Pickup" }}
        <br/>
    </p>

{% endblock %}



