{% extends "orders/base.html" %}

{% block content %}
    <br/>
    <p>
        <b>COLLECTION:</b><br/>
        {{ order_info['collection'] }}
        <br/>
    </p>

    <p>
        <b>BOROUGH:</b><br/>
        {{ order_info['borough'] }}
        <br/>
    </p>

    <p>
        <b>ROLL:</b><br/>
        {{ order_info['roll'] or "Not Provided" }}
        <br/>
    </p>

    <p>
        <b>BLOCK:</b><br/>
        {{ order_info['block'] or "Not Provided" }}
        <br/>
    </p>

    <p>
        <b>LOT:</b><br/>
        {{ order_info['lot'] or "Not Provided" }}
        <br/>
    </p>

    <p>
        <b>BUILDING_NUMBER:</b><br/>
        {{ order_info['building_number'] }}
        <br/>
    </p>

    <p>
        <b>STREET:</b><br/>
        {{ order_info['street'] }}
        <br/>
    </p>

    <p>
        <b>DESCRIPTION:</b><br/>
        {{ order_info['description'] or "Not Provided" }}
        <br/>
    </p>

    <p>
        <b>SIZE:</b><br/>
        {{ order_info['size'] }}
        <br/>
    </p>

    <p>
        <b>NUMBER OF COPIES:</b><br/>
        {{ order_info['num_copies'] }}
        <br/>
    </p>

    <p>
        <b>MAIL_PICKUP:</b><br/>
        {{ "Mail" if order_info['mail'] else "Pickup" }}
        <br/>
    </p>

    {% if order_info['contact_number'] %}
        <p>
            <b>CONTACT NUMBER:</b><br/>
            {{ order_info['contact_number'] }}
            <br/>
        </p>
    {% endif %}

{% endblock %}
