/*
CSS for the Create Orders Form
 */
.suborder-form-label {
    font-weight: bold;
}

[data-toggle="collapse"] .fa:before {
    content: "\f13a"
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f138"
}

