<div>
    <div class="pb-1">
        {{ form.certificate_num.label(class="control-label font-weight-bold mb-0", for="certificate_num") }}
        {{ form.certificate_num(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.gender.label(class="control-label font-weight-bold mb-0", for="gender") }}
        {{ form.gender(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.last_name.label(class="control-label font-weight-bold mb-0", for="last_name") }}
        {{ form.last_name(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.first_name.label(class="control-label font-weight-bold mb-0", for="first_name") }}
        {{ form.first_name(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.middle_name.label(class="control-label font-weight-bold mb-0", for="middle_name") }}
        {{ form.middle_name(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div>
        <h6>Date of Death</h6>
        <div class="pb-1">
            {{ form.month.label(class="control-label font-weight-bold mb-0", for="month") }}
            {{ form.month(class="form-control form-control-sm rounded-sm mt-0") }}
        </div>

        <div class="pb-1">
            {{ form.day.label(class="control-label font-weight-bold mb-0", for="day") }}
            {{ form.day(class="form-control form-control-sm rounded-sm mt-0") }}
        </div>

        <div class="pb-1">
            {{ form.year.label(class="control-label font-weight-bold mb-0", for="year") }}
            {{ form.year(class="form-control form-control-sm rounded-sm mt-0") }}
        </div>
    </div>

    <div class="pb-1">
        {{ form.add_year.label(class="control-label font-weight-bold mb-0", for="add_year") }}
        {{ form.add_year(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.cemetery.label(class="control-label font-weight-bold mb-0", for="cemetery") }}
        {{ form.cemetery(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.death_place.label(class="control-label font-weight-bold mb-0", for="death_place") }}
        {{ form.death_place(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div>
        <h6>Borough</h6>
        {% for radiobtn in form.borough %}
            <div>
                {{ radiobtn }}
                {{ radiobtn.label }}
            </div>
        {% endfor %}
    </div>

    <div class="pb-1">
        {{ form.father_name.label(class="control-label font-weight-bold mb-0", for="father_name") }}
        {{ form.father_name(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.mother_name.label(class="control-label font-weight-bold mb-0", for="mother_name") }}
        {{ form.mother_name(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div>
        {% for radiobtn in form.exemplification %}
            <div>
                {{ radiobtn }}
                {{ radiobtn.label }}
            </div>
        {% endfor %}
    </div>

    <div>
        <h6>Delivery Method</h6>
        {% for radiobtn in form.delivery_method %}
            <div>
                {{ radiobtn }}
                {{ radiobtn.label }}
            </div>
        {% endfor %}
    </div>
</div>