<div id="suborder_{{ num }}" class="row py-1">
    <div class="col">
        <div class="row">
            <div class="col-4">
                <h5 id="suborder_num_{{ num }}">Suborder: {{ num }}</h5>
            </div>

            <div class="col text-right">
                <button id="suborder_close_btn_{{ num }}" class="btn btn-danger btn-sm rounded-sm" type="submit" role="button">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>

        <form id="new_order_form_{{ num }}">
            <div class="pb-1">
                <label for="order_type_{{ num }}"
                       class="sm font-weight-bold mb-0">Order Type</label>
                <select class="form-control form-control-sm rounded-sm"
                        name="order_type" id="order_type_{{ num }}">
                    <option value="default"> -- Select an order type --</option>
                    <option value="Birth Cert">Birth Cert</option>
                    <option value="Death Cert">Death Cert</option>
                    <option value="Marriage Cert">Marriage Cert</option>
                    <option value="Photo Gallery">Photo Gallery</option>
                    <option value="Tax Photo">Tax Photo</option>
                </select>
            </div>

            <div id="new_order_fields_{{ num }}"></div>

            <div class="pb-1">
                {{ form.num_copies.label(class="control-label font-weight-bold mb-0", for="num_copies") }}
                {{ form.num_copies(class="form-control form-control-sm rounded-sm mt-0") }}
            </div>

            <div class="pb-1">
                {{ form.status.label(class="control-label font-weight-bold mb-0", for="status") }}
                {{ form.status(class="form-control form-control-sm rounded-sm mt-0") }}
            </div>
        </form>
        <hr style="border: solid black">
    </div>
</div>
