<form id="new_order">
    <div class="pb-1">
        <label for="order_type"
               class="sm font-weight-bold mb-0">Order Type</label>
        <select class="form-control form-control-sm rounded-sm"
                name="order_type" id="order_type">
            <option value="default"> -- Select an order type --</option>
            {% for order in order_types %}
                <option value="{{ order }}">{{ order }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="new_order_fields"></div>
    <div class="pb-1">
        {{ form.num_copies.label(class="control-label font-weight-bold mb-0", for="num_copies") }}
        {{ form.num_copies(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.status.label(class="control-label font-weight-bold mb-0", for="status") }}
        {{ form.status(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>
</form>
