<div>
    <div class="pb-1">
        {{ form.image_identifier.label(class="control-label font-weight-bold mb-0", for="image_identifier") }}
        {{ form.image_identifier(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.description.label(class="control-label font-weight-bold mb-0", for="description") }}
        {{ form.description(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.add_description.label(class="control-label font-weight-bold mb-0", for="add_description") }}
        {{ form.add_description(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div>
        <h6>Size</h6>
        {% for radiobtn in form.size %}
            <div>
                {{ radiobtn }}
                {{ radiobtn.label }}
            </div>
        {% endfor %}
    </div>

    <div>
        <h6>Delivery Method</h6>
        {% for radiobtn in form.delivery_method %}
            <div>
                {{ radiobtn }}
                {{ radiobtn.label }}
            </div>
        {% endfor %}
    </div>

    <div class="pb-1">
        {{ form.comment.label(class="control-label font-weight-bold mb-0", for="comment") }}
        {{ form.comment(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>
</div>