<div>
    <div class="pb-1">
        {{ form.image_identifier.label(class="control-label font-weight-bold mb-0", for="image_identifier") }}
        {{ form.image_identifier(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.description.label(class="control-label font-weight-bold mb-0", for="description") }}
        {{ form.description(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.additional_description.label(class="control-label font-weight-bold mb-0", for="additional_description") }}
        {{ form.additional_description(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.size.label(class="control-label font-weight-bold mb-0", for="size") }}
        {{ form.size(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.delivery_method.label(class="control-label font-weight-bold mb-0", for="delivery_method") }}
        {{ form.delivery_method(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.contact_email.label(class="control-label font-weight-bold mb-0", for="contact_email") }}
        {{ form.contact_email(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.comment.label(class="control-label font-weight-bold mb-0", for="comment") }}
        {{ form.comment(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>
</div>