{% for field_lists in form.suborders %}
    {% for field in field_lists %}
        {% if field %}
            <div class="pb-2 pt-2 suborder">
                <div class="d-flex">
                    <a class="btn collapsed btn-block text-left btn-sm mr-auto" type="button" data-toggle="collapse"
                       data-target="#{{ field[0].id }}-panel"
                       aria-expanded="true" aria-controls="{{ field[0].id }}-panel">
                        <i class="fa fa-caret-right"></i>
                        {{ field.label(class="suborder-form-label") }}
                    </a>
                    <span>
                        <button class="btn btn-danger btn-sm rounded-sm close" type="button">
                             <i class="fa fa-times"></i>
                        </button>
                    </span>
                </div>
                {% for error in field.errors[0] %}
                    <p style="color: red;">[{{ field.errors[0][error][0] }}]</p>
                {% endfor %}
                <div class="panel collapse" id="{{ field[0].id }}-panel">
                    <div class="card card-body">
                        {% for field in field[0] %}
                            {% set label_class = 'font-weight-bold' %}
                            {% if field.flags.required %}
                                {{ field.label(class_=label_class, required=field.flags.required) }}
                            {% else %}
                                {{ field.label(class_=label_class) }}
                            {% endif %}
                            {{ field(class_="form-control form-control-sm rounded-sm mb-2") }}
                        {% endfor %}
                    </div>
                </div>
                <br>
                <hr>
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}
