<div>
    <div>
        <h6>Collection</h6>
        {% for radiobtn in form.collection %}
            <div>
                {{ radiobtn }}
                {{ radiobtn.label }}
            </div>
        {% endfor %}
    </div>

    <div>
        <h6>Borough</h6>
        {% for radiobtn in form.borough %}
            <div>
                {{ radiobtn }}
                {{ radiobtn.label }}
            </div>
        {% endfor %}
    </div>

    <div class="pb-1">
        {{ form.image_identifier.label(class="control-label font-weight-bold mb-0", for="image_identifier") }}
        {{ form.image_identifier(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.building_num.label(class="control-label font-weight-bold mb-0", for="building_num") }}
        {{ form.building_num(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.street.label(class="control-label font-weight-bold mb-0", for="street") }}
        {{ form.street(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>


    <div class="pb-1">
        {{ form.description.label(class="control-label font-weight-bold mb-0", for="description") }}
        {{ form.description(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.block.label(class="control-label font-weight-bold mb-0", for="block") }}
        {{ form.block(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.lot.label(class="control-label font-weight-bold mb-0", for="lot") }}
        {{ form.lot(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.order_roll.label(class="control-label font-weight-bold mb-0", for="order_roll") }}
        {{ form.order_roll(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div>
        <h6>Size</h6>
        {% for radiobtn in form.size %}
            <div>
                {{ radiobtn }}
                {{ radiobtn.label }}
            </div>
        {% endfor %}
    </div>

    <div>
        <h6>Delivery Method</h6>
        {% for radiobtn in form.delivery_method %}
            <div>
                {{ radiobtn }}
                {{ radiobtn.label }}
            </div>
        {% endfor %}
    </div>
</div>