<div>
    <div class="pb-1">
        {{ form.collection.label(class="control-label font-weight-bold mb-0", for="collection") }}
        {{ form.collection(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.borough.label(class="control-label font-weight-bold mb-0", for="borough") }}
        {{ form.borough(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.image_identifier.label(class="control-label font-weight-bold mb-0", for="image_identifier") }}
        {{ form.image_identifier(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.building_num.label(class="control-label font-weight-bold mb-0", for="building_num") }}
        {{ form.building_num(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.street.label(class="control-label font-weight-bold mb-0", for="street") }}
        {{ form.street(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.description.label(class="control-label font-weight-bold mb-0", for="description") }}
        {{ form.description(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.block.label(class="control-label font-weight-bold mb-0", for="block") }}
        {{ form.block(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.lot.label(class="control-label font-weight-bold mb-0", for="lot") }}
        {{ form.lot(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.roll.label(class="control-label font-weight-bold mb-0", for="roll") }}
        {{ form.roll(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.size.label(class="control-label font-weight-bold mb-0", for="size") }}
        {{ form.size(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.delivery_method.label(class="control-label font-weight-bold mb-0", for="delivery_method") }}
        {{ form.delivery_method(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>

    <div class="pb-1">
        {{ form.contact_num.label(class="control-label font-weight-bold mb-0", for="contact_num") }}
        {{ form.contact_num(class="form-control form-control-sm rounded-sm mt-0") }}
    </div>
</div>