.react-datepicker__input-container {
    width: 100%;
}

input, label {
    display: block;
}

html, body {
    padding-top: .5em;
    overflow: auto;
}

.ui.selection.dropdown {
    min-width: 10%;
}

.no-padding{
    padding:0!important;
}

.margin-left{
    margin-left:.3em!important;
}

.half{
    width:50%;
    float:left;
}

.float-right{
    float:right;
}

.no-margin{
    margin:0!important;
}
.no-top-padding{
    padding-top: 0!important;
}
.margin-tiny{
    margin: .10em!important;
}

.margin-small-tb{
    margin: .69em 0!important;
}

#grid-column-order {
    padding-right: .30em;
}

#center {
    margin: auto;
    width: 50%;
    padding: 10px;
    top: 50%;
    transform: translateY(120%);
}
