.react-datepicker__input-container {
    width: 100%;
}

input, label {
    display: block;
}

.ui.selection.dropdown {
    min-width: 10%;
}

#grid-column-order {
    max-height: 55em;
    overflow-y: scroll;
}

html, body {
    padding-top: 1em;
    overflow: auto;
}

#center {
    margin: auto;
    width: 50%;
    padding: 10px;
    top: 50%;
    transform: translateY(120%);
}