<html>
<body>
Thank you for your request. We will not be able to fulfill requests for hard-copy certificates due to Covid-19 health and safety measures in place in New York City.  However, we are able to provide digital copies of vital records.  If you would like a digital copy to be emailed, please confirm by replying to this message with the following information:
original order number
your name
email address for vital digital copy
<p>
    Please find your order information below:
</p>
<p>
    {{ order.confirmation_message }}
</p>
</body>
</html>
