<html>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<body>
<p>
    Thank you for your order. At this time we cannot fulfill requests for hard-copy certificates. However, we are able
    to
    <strong>email digital copies</strong> of the certificates. If you would like a digital copy to be emailed, please
    confirm by replying to
    this message with the following information:
</p>
<ol>
    <li>original order number</li>
    <li>your name</li>
    <li>email address for vital digital copy</li>
</ol>
<p>
    If you require a hard-copy, please let us know if you have an urgent legal requirement or need and we will make
    every effort to accommodate your order.
    <br />
    <strong>For urgent orders only</strong> please reply to this message with the following information:
</p>
<ol>
    <li>original order number</li>
    <li>your name</li>
    <li>mailing address</li>
</ol>
<p>
    <strong>PLEASE NOTE:</strong><br />
    <strong>ONLY</strong> the following vital records are <strong>available</strong> as digital copies.<br>
    Requests for all records not currently available in digital format will be processed after staff return to the 31
    Chambers Street office.
</p>
<table class="table table-bordered">
    <tr>
        <th>Borough / County</th>
        <th>HEALTH DEPARTMENT MARRIAGE CERTIFICATES</th>
        <th>CITY CLERK MARRIAGE LICENSES</th>
        <th>DEATH CERTIFICATES</th>
        <th>BIRTH CERTIFICATES</th>
    </tr>
    <tr>
        <td>Manhattan</td>
        <td>1866-1937</td>
        <td>1908-1910; 1938-1949</td>
        <td>1866, 1867, 1870-1876, 1920, 1932-1948</td>
        <td>1866-1909</td>
    </tr>
    <tr>
        <td>Brooklyn/Kings County</td>
        <td>1866-1937</td>
        <td>1938-1949</td>
        <td>1862-1948</td>
        <td>1866-1909</td>
    </tr>
    <tr>
        <td>Bronx</td>
        <td>1898-1937</td>
        <td>Not Digitized</td>
        <td>1898-1948</td>
        <td>1898-1909</td>
    </tr>
    <tr>
        <td>Queens</td>
        <td>1898-1937</td>
        <td>1938-1940</td>
        <td>1898-1948</td>
        <td>1898-1909</td>
    </tr>
    <tr>
        <td>Staten Island/Richmond County</td>
        <td>1898-1937</td>
        <td>1908-1911</td>
        <td>1898-1948</td>
        <td>1898-1909</td>
    </tr>
</table>
<p>
    Add the story of your female ancestors to the permanent archive listing inspiring women at
    https://www.womensactivism.nyc
</p>
<br>
<p>
    Please find your order information below:
</p>
Order #{{ order.id }}
{{ order.confirmation_message.replace('\r\n', '<br />').replace('\n\r', '<br />').replace('\r', '<br />').replace('\n', '<br />') | safe }}
</body>
</html>
