<div class="container">
    <form id="search_form" method="POST" class="text-left">
        {% set label_class = "control-label font-weight-bold mb-0" %}
        {% set input_class = "form-control form-control-sm rounded-sm mt-0" %}

        {% for input in form %}
            {% if "date" not in input.id %}
                <div class="pb-1">
                    {{ input.label(class=label_class) }}
                    {{ input(class=input_class, placeholder=input.label.text) }}
                </div>
            {% endif %}
        {% endfor %}

        <div class="pb-2">
            <div>
                <div class="nav nav-tabs nav-justified device-md py-1" role="tablist">
                    <a class="nav-item nav-link btn-light btn-sm active" id="tab_received_btn"
                       href="#tab_received" data-toggle="tab"
                       aria-controls="tab_received" aria-selected="true" role="tab">
                        Received
                    </a>

                    <a class="nav-item nav-link btn-sm btn-light" id="tab_submitted_btn" href="#tab_submitted"
                       data-toggle="tab"
                       aria-controls="tab_submitted" aria-selected="false" role="tab">
                        Submitted
                    </a>
                </div>

                <div class="tab-content" id="tabs_content">
                    <div class="tab-pane fade show active" id="tab_received" aria-labelledby="tab_received_btn"
                         role="tabpanel">
                        <div class="pb-1">
                            {{ form.date_received_start.label(class=label_class) }}
                            {{ form.date_received_start(class=input_class) }}
                        </div>

                        <div class="pb-1">
                            {{ form.date_received_end.label(class=label_class) }}
                            {{ form.date_received_end(class=input_class) }}
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab_submitted" aria-labelledby="tab_submitted_btn" role="tabpanel">
                        <div class="pb-1">
                            {{ form.date_submitted_start.label(class=label_class) }}
                            {{ form.date_submitted_start(class=input_class) }}
                        </div>

                        <div class="pb-1">
                            {{ form.date_submitted_end.label(class=label_class) }}
                            {{ form.date_submitted_end(class=input_class) }}
                        </div>
                    </div>
                </div>
                <!-- tab_content -->
            </div>
            <!-- nav_tabs -->
        </div>
        <!-- py-2 -->
    </form>
    <!-- search_form -->

    <div id='form_buttons' class="row">
        <div class="col">
            <button id='clear_button' type="submit" class="btn btn-danger btn-block rounded-sm" role="button">Clear
            </button>
        </div>
        <div class="col">
            <button id='search_button' type="submit" class="btn btn-success btn-block rounded-sm" role="button">Search
            </button>
        </div>
    </div>

</div>
